<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}{% endblock %}
    <title>{% block title %}{% endblock %}NEXTAGRAM</title>
  </head>
  <body>
      <!-- Bootstrap Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <a class="navbar-brand" href="/">
              <!-- <img src="./static/image/tinder.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
              <img src="{{ url_for('static', filename='images/tinder.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
              Nextagram
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
            <form class="form-inline ml-auto my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            
            <ul class="navbar-nav ml-auto form-inline">
                <!-- Post Button -->
                {% if current_user.is_authenticated %}
                
                
                <span ><p class="m-auto">Hi, {{ current_user.username }}</p></span>
                <form class="pr-2 pl-2" action="{{ url_for('images.post') }}" method="POST" enctype="multipart/form-data">
                  <div id='post-button-box'>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input id="post-image" type="file" name="post-image" class="inputfile">
                    <label for="post-image" class="my-auto ml-1"> Post</label>
                  </div>
                  <button id="post-upload" type="submit" class="d-none confirm-button" >Confirm</button>
                </form>

               
                <a class="pr-2" href="{{url_for('users.show', username=current_user.username)}}">My Profile</a>
                {% endif %}
                
                <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if current_user.is_authenticated %}
                      
                      <a class="dropdown-item" href="{{url_for('users.show', username=current_user.username )}}">Account</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{url_for('sessions.logout')}}">Log Out</a>
                    {% else %}
                      <a class="dropdown-item" href="{{url_for('sessions.new')}}">Sign In</a>
                      <a class="dropdown-item" href="{{url_for('users.new')}}">Sign Up</a>
                    
                    {% endif %}
                  </div>
                </li>
              </ul>

          </div>
        </nav>
    
    <main class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
      </div>
    </main>


    {% block content %}
    {% endblock %}


    <script>

        $('#post-image').on('click', function(){
          $('#post-button-box').addClass('d-none')
          $('#post-upload').removeClass('d-none')
        })

        $('#post-upload').on('click', function(){
          $('#post-upload').addClass('d-none')
          $('#post-button-box').removeClass('d-none')
        })

    </script>
  </body>
</html>



