{% extends "_layout.html" %}

{% block header %}
{% endblock %}
{% block content %}


<div class="container">
    <h1>Homepage</h1>
    <h2>Registered Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Registered Users</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr scope="row">
                <td>
                    <a href="http://localhost:5000/users/{{ u.username }}">{{u.username}}</a>
                </td>
                <td>
                    {{u.email}}
                </td>
            </tr>
            {% endfor %}             
        </tbody>
    </table>
</div>

{% endblock %}